<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 </head>
 <body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<script>
    $(document).ready(function() {
      $.get("/polls/api/questions").success(function (data) {
        var question_list = "<ul>";
        for (question in data) {
          question_list += "<li><a href='#' onclick='loadQuestion("+data[question]["id"]+")'>"+data[question]["question_text"]+"</a></li>";
        }
        if (question_list !== "<ul>") {
          $("#questions").html(question_list + "</ul>");
        }
      });
    });
</script>
</body>
</html>
